@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover,
.pick:hover {
    cursor: pointer;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    color: #EBEBEB;
}

.pad {
    display: flex;
    align-items: stretch;
    background-color: #312f2f;
    height: 750px;
    width: 900px;
    border-radius: 35px;
    box-shadow: inset 4px 4px 7px #ffffff77, inset -4px -4px 7px #00000077,
    10px 15px 30px #00000077;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;;
    width: 600px;
}

.top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.top > input {
    background-color: #EBEBEB;
    border: none;
    width: 45px;
    height: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: inset 1px 1px 3px #00000077, inset -1px -1px 3px #ffffff77;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wipe {
    background-color: #EBEBEB;
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: inset 2px 2px 3px #ffffff77, inset -2px -2px 3px #00000077;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex: 1;
}

.mode,
.toggle {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #ffffff77, inset -2px -2px 4px #00000077;
    border: none;
    padding: 0;
}

.selected {
    border: 3px solid #EBEBEB;
}

#pick {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000;
}

.picker {
	opacity: 0;
    width: 60px;
    height: 60px;
	border: none;
}

.icon {
    height: 25px;
    filter: drop-shadow(1px 1px 2px black);
}

#rainbow {
    background-image: linear-gradient(to bottom right, #FF0000, #FF7F00, #FFFF00, #00FF00, #1555E3, #2E2B5F, #8B00FF);
}

.alpha-container,
.brush-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset -2px -2px 4px #ffffff77, inset 2px 2px 4px #00000077;
    border-radius: 10px;
    width: 60px;
    padding: 20px 0px;
}

.alpha-container {
    gap: 30px;
}

.brush-container {
    gap: 15px;
}

.lighten,
.darken {
    filter: drop-shadow(0px 0px 1px black);
}

.lighten {
    width: 25px;
    height: 25px;
}

.darken {
    width: 20px;
    height: 20px;
}

.slider {
    appearance: none;
    transform: rotate(-90deg);
    background-color: #312f2f;
    box-shadow: inset -1px 1px 2px #00000077, inset 1px -1px 2px #ffffff77;
    border: 1px solid #EBEBEB;
    width: 60px;
    height: 20px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    background-color: #EBEBEB;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: inset -2px 2px 4px #ffffff77, inset 2px -2px 4px #00000077;
}

.slider.disabled {
    border: 1px solid black;
}

.slider.disabled::-webkit-slider-thumb {
    background-color: black;
}

.brush {
    padding: 0;
    background-color: #312f2f;
    border: 1px solid #ebebeb;
}

.brush.small {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

.brush.large {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.brush.active {
    background-color: #EBEBEB;
}

.pixel {
    box-sizing: border-box;
    /* It's important that an individual pixel does not have borders
    on opposite sides (left & right, or top & bottom). For unknown reasons,
    this creates weird shapes and artifacts on the page when viewed in firefox
    at certain number of pixels. */
    border-left: 1px solid #312f2f22;
    border-top: 1px solid #312f2f22;
    flex: auto;
    background-color: #ffffff;
}

.handle {
    display: flex;
    align-items: center;
    width: 100px;
    height: 500px;
    background-color: #312f2f;
    z-index: 1;
}

.left {
    justify-content: flex-end;
    border-radius: 70px 5px 5px 70px;
    box-shadow: inset 4px 4px 7px #ffffff77, inset -4px -4px 7px #00000077, 10px 15px 30px #00000077;
    margin-right: -4px;
}

.right {
    justify-content: flex-start;
    border-radius: 5px 70px 70px 5px;
    box-shadow: inset -4px -4px 7px #00000077, 10px 15px 30px #00000077;
    margin-left: -3px;
}

.empty-left {
    background-color: #EBEBEB;
    width: 46px;
    height: 400px;
    margin-right: 4px;
    border-radius: 20px 0 0 20px;
    box-shadow: -4px -4px 7px #00000077, 4px 4px 7px #ffffff77,
    inset 10px 15px 30px #00000077;
}

.empty-right {
    background-color: #EBEBEB;
    width: 47px;
    height: 400px;
    margin-left: 3px;
    border-radius: 0 20px 20px 0;
    box-shadow: -4px -4px 7px #00000077, 4px 4px 7px #ffffff77, 
    inset 10px 15px 30px #00000077;
}