@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    color: #EBEBEB;
}

.pad {
    display: flex;
    align-items: stretch;
    background-color: #312f2f;
    height: 750px;
    width: 900px;
    border-radius: 35px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;;
    width: 600px;
}

.top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input {
    background-color: #EBEBEB;
    border: none;
    width: 45px;
    height: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #EBEBEB;
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.grid {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: white;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.colors {
    border-radius: 35px 0 0 35px;
}

.opacity {
    border-radius: 0 35px 35px 0;
}

.color {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.white {
    background-color: #FFFFFF;
}

.gray {
    background-color: #555B6E;
}

.black {
    background-color: #000000;
}

.purple {
    background-color: #514663;
}

.indigo {
    background-color: #3D405B;
}

.blue {
    background-color: #658E9C;
}

.green {
    background-color: #8CBA80;
}

.yellow {
    background-color: #FFF9A5;
}

.orange {
    background-color: #F5853F;
}

.red {
    background-color: #C33149;
}

.slider {
    height: 535px;
    width: 40px;
    border-radius: 50px;
    background-image: linear-gradient(#000000, #FFFFFF);
}