@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover,
.picker:hover {
    cursor: pointer;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    color: #EBEBEB;
}

.pad {
    display: flex;
    align-items: stretch;
    background-color: #312f2f;
    height: 750px;
    width: 900px;
    border-radius: 35px;
    box-shadow: inset 4px 4px 7px #ffffff77, inset -4px -4px 7px #00000077,
    10px 15px 30px #00000077;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;;
    width: 600px;
}

.top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.top > input {
    background-color: #EBEBEB;
    border: none;
    width: 45px;
    height: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: inset 1px 1px 3px #00000077, inset -1px -1px 3px #ffffff77;
}

.bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wipe {
    background-color: #EBEBEB;
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-shadow: inset 2px 2px 3px #ffffff77, inset -2px -2px 3px #00000077;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    flex: 1;
}

.picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #ffffff77, inset -2px -2px 4px #00000077;
}

.picker {
	opacity: 0;
    width: 60px;
    height: 60px;
	border: none;
}

.slider {
    height: 535px;
    width: 40px;
    border-radius: 50px;
    background-image: linear-gradient(#000000, #FFFFFF);
    box-shadow: inset 1px 1px 3px #00000077;
}

.pixel {
    box-sizing: border-box;
    border: 1px solid #312f2f22;
    flex: auto;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.handle {
    display: flex;
    align-items: center;
    width: 100px;
    height: 500px;
    background-color: #312f2f;
}

.left {
    justify-content: flex-end;
    border-radius: 70px 0 0 70px;
    box-shadow: inset 4px 4px 7px #ffffff77, inset -4px -4px 7px #00000077, 10px 15px 30px #00000077;
}

.right {
    justify-content: flex-start;
    border-radius: 0 70px 70px 0;
    box-shadow: inset -4px -4px 7px #00000077, 10px 15px 30px #00000077;
}

.empty-left {
    background-color: #EBEBEB;
    width: 50px;
    height: 400px;
    border-radius: 20px 0 0 20px;
    box-shadow: -4px -4px 7px #00000077, 4px 4px 7px #ffffff77,
    inset 10px 15px 30px #00000077;
}

.empty-right {
    background-color: #EBEBEB;
    width: 50px;
    height: 400px;
    border-radius: 0 20px 20px 0;
    box-shadow: -4px -4px 7px #00000077, 4px 4px 7px #ffffff77, 
    inset 10px 15px 30px #00000077;
}